@import "tailwindcss";
@plugin "../../node_modules/@iconify/tailwind4";

:root {
  --background: #f8f9fa;
  --foreground: #171717;
  --card: #ffffff;
  --card-border: rgba(0, 0, 0, 0.05);
}

.dark {
  --background: #020617;
  --foreground: #f8fafc;
  --card: #0f172a;
  --card-border: rgba(255, 255, 255, 0.05);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-border: var(--card-border);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Montserrat, Poppins, sans-serif;
  transition: background-color 0.3s ease, color 0.3s ease;
}

body.no-navbar .navbar-wrapper {
  padding-bottom: 0 !important;
}